* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #34465d;
  word-spacing: 1px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* REGOLE GENERALI  */

.width_80 {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #34465d;
}

li {
  list-style: none;
}

.float {
  float: left;
}

.button {
  border: 1px solid #ff784e;
  border-radius: 5px;
  padding: 7px;
}

p {
 line-height: 25px;
}

/* HEADER  */

header {
  width: 100%;
}

.head_navfix {
  background-color: #f6faff;
  border-bottom: 1px solid #34465d;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.nav_fixed , .secondo_nav {
  line-height: 10vh;
}

.nav_fixed ul, .nav_fixed li , .secondo_nav ul , .secondo_nav li{
  display: inline;
}

nav ul li a {
  padding-left: 15px;
}


.ul_left , .logo {
  width: 50%;
}

.ul_right {
  width: 50%;
  text-align: right;
}

#contact_us {
  border-left: 1px solid #2b2b2b;
}
#lingua {
  padding-right: 15px;
  padding-left: 0;
}

/* Mondino  */
#lingua::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f7a2';
}

/* freccina attaccata  */
#lingua::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
}

/* lente  */
#lente::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f002';
  color: #3acfff;
}

nav ul .button {
  margin-left: 15px;
}

.b_white {
  background-color: white;
  color: #ff784e;
}

.b_orange {
  background-color: #ff784e;
  color: white;
}

.head_secondo_nav {
  width: 100%;
  background-color: white;
  padding-top: 10vh;
}

.logo img {
  vertical-align: middle;
}

/* freccina staccata  */
.freccina::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
  padding-left: 10px;
}

.jumbotron {
  height: 80vh;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:100% -13vh;
  padding: 10vh;
  padding-left: 10%;
  padding-right: 57%;
}

.j h1 {
   font-size: 300%;
   margin-bottom: 30px;
}

.j p {
 margin-bottom: 50px;
}

.b_large {
  padding: 20px 30px;
}

.j p:last-child {
  margin-top: 50px;
  font-size: 80%;
}

.head_bar {
  height: 10vh;
  background-color: #7bddd2;
  border-bottom: 2px solid #34465d;
  border-top: 2px solid #34465d;
}

/* FINE HEADER  */

/* INIZIO MAIN  */

main {
  background-color: #f6faff;
}

.main_cubo {
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
}
.main_cubo img {
  width: 400px;
}
.main_cubo h2 {
  font-size: 200%;
  margin-bottom: 20px;
}

.blocco {
  background-color: white;
  box-shadow: 0 0 2px grey;
  border-radius: 5px;
}

.bl_orizzontale {
  padding: 70px;
  margin-bottom: 10vh;
}

.bl_orizzontale img {
  margin-bottom: 40px;
  height: 120px;
  display: block;
}

.bl_orizzontale div:first-child {
  width: 30%;
}
.bl_orizzontale div:last-child {
  width: 70%;
}

.bl_orizzontale hr , .bl_orizzontale h3 {
  display: inline-block;
}

.bl_orizzontale hr {
  width: 65%;
  margin-left: 10%;
}

.bl_orizzontale div h2 {
  margin-bottom: 30px;
}

.bl_orizzontale div h3 {
  margin: 20px 0;
}

.bl_orizzontale ul li {
  display: inline;
  margin-right: 20px;
}

/* Check arancione  */
.blocco ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f058';
  color:  #ff784e;
  padding-right: 10px;
}
.tre_colonne {
  margin-bottom: 10vh;

}
.bl_3col {
  float: left;
  width: 30%;
  text-align: center;
  padding: 40px;
}

.col_middle {
  margin: 0 5%;
}

.bl_3col img {
  height: 120px;
}

.bl_3col h2 , .bl_3col h3 {
  margin: 30px 0;
}

.bl_3col hr {
  margin-top: 50px;
}

.bl_3col ul {
  text-align: left;
  margin-bottom: 60px;
}

.sezione_azzurra {
  width: 100%;
  padding: 0 10%;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
  color: white;
  background: rgb(0,165,187);
  background: linear-gradient(90deg, rgba(0,165,187,1) 0%, rgba(0,186,167,1) 100%);
}

.sezione_azzurra > h2 {
  font-size: 200%;
  margin-bottom: 30px;
}

.quadrato {
  width: 25%;
  display: inline-block;
  height: 30vh;
  padding: 20px 0;
}

.struttura_quadrati {
  margin-top: 50px;
}

.quadrato:not(:first-child):not(:nth-child(5)) {
  border-left: 1px solid white;
}

.quadrato:nth-child(1n + 5) {
  border-top: 1px solid white;
}

.quadrato h2 {
  font-size: 250%;
  margin: 10px 0;
}
.quadrato img {
  height: 40px;
}

.sezione_bianca {
  width: 100%;
  background-color: white;
  padding: 50px 0;
}
.bianca_prima_riga {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.bianca1 h2{
  font-size: 300%;
  margin-bottom: 40px;
}
.b1_left {
  width: 20%;
}

.b1_right {
  width: 80%;
  text-align: right;
}

.b1_right img {
  width: 100px;
  margin: 20px;
  vertical-align: middle;
}

.b2_left {
  width: 40%;
  padding-top: 40px;
}

.b2_right {
  width: 60%;
  text-align: right;
}

.b2_right img {
  width: 300px;
}

.bianca2 h2 {
  font-size: 200%;
  margin-bottom: 40px;
}

.bianca2 p:nth-child(2) {
  margin-bottom: 60px;
}

.bianca2 p:nth-child(4) {
  margin-top: 60px;
  font-size: 80%;
}

/* FINE MAIN */

/* INIZIO FOOTER */

footer {
  width: 100%;
  background-color: #394a60;
  padding: 30px 0;
}

footer * {
  color: #cbd6e2;
}

.col4 {
  float: left;
  width: 25%;
}

.col4 h4 , .logo_grey p {
  color: white;
}

.col4 li {
  padding-top: 30px;
  line-height: 5px;
}

.col4 .button {
  background-color: #cbd6e2;
  color: #394a60;
  border: 1px solid #cbd6e2;

}

.social {
  display: inline-block;
  margin-top: 10px;
}

.social:not(:nth-child(7)) {
  margin-left: 20px;
}
.facebook::before {
  font-family: 'Font Awesome 5 Brands';
  content: '\f39e';
}

.instagram::before {
  font-family: 'Font Awesome 5 Brands';
  content: '\f16d';
}

.youtube::before {
  font-family: 'Font Awesome 5 Brands';
  content: '\f167';
}

.twitter::before {
  font-family: 'Font Awesome 5 Brands';
  content: '\f099';
}

.linkedin::before {
  font-family: 'Font Awesome 5 Brands';
  content: '\f0e1';
}

.lingue {
  margin-top: 70px;
  text-align: center;
  border-bottom: 1px solid #cbd6e2;
}

.lingue li {
  display: inline-block;
  padding: 20px 10px;
}

.ultimo_footer div {
  width: 50%;
  float: left;
  padding-top: 30px;
}
.ultimo_footer li {
  display: inline;
  padding-left: 20px;
}
.ultimo_footer div:last-child {

  text-align: right;
}

/* HOVER */

footer a:hover:not(.button):not(.social a) {
  color: #f8b164;
}

.facebook:hover {
  color: #5aa2f1;
}

.instagram:hover {
  color: #ff5079;
}

.youtube:hover {
  color: #e20000;
}

.twitter:hover {
  color: #23c3f3;
}

.linkedin:hover {
  color: white;
}

header a:hover:not(.button) {
  color: #ff784e;
}

.button:hover {
  box-shadow: 3px 3px 3px grey;
  opacity: 0.8;
}

.hover_freccina li {
  position: relative;
}

.hid {
  width: 150px;
  background-color: white;
  visibility: hidden;
  position:absolute;
  top: 30px;
  left: 0;
  border-radius: 5px;
  border: 1px solid #ff784e;
  text-align: center;
  box-shadow: 3px 3px 3px grey;
  padding: 10px 5px;
}

.hover_freccina li:hover .hid {
  visibility: visible;
}
